/* Use this file to store your useful variables */
/* This could be colors, fonts, or padding sizes! */

:root {
  --color-primary: #ebbda0;
  --color-secondary: rgba(235, 189, 160, 0.3);
  --text-prinary: #0a3641;
  --text-secondary: #fff;
  --button-text-color: #0a3641;
  --button-color: #ebbda0;
}