@import url("./_reset.css");
@import url("./_variables.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700;800&display=swap');
/* @font-face {
  font-family: "Roboto", "serif";
  src: local("Roboto"),
    url("/fonts/RobotoSlab-VariableFont_wght.woff2") format("woff2"),
    url("/fonts/RobotoSlab-VariableFont_wght.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */
html {
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    scroll-behavior: smooth;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
h2,
h3,
p {
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    min-width: 320px;
    font-weight: 400;
    color: var(--text-primary);
}


/* global */

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1600px;
    padding: 0 10px;
    margin: 0 auto;
}

section {
    margin-bottom: 4rem;
}

.icon svg:hover path:not(:first-child) {
    stroke: #EBBDA0;
}

.icon svg:hover {
    fill: #A73131;
}

/* header */

.burger {
    display: none;
}

.header {
    position: absolute;
    width: 100%;
}

.header__container {
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    height: 120px;
    /* margin-right: auto; */
}

/* .nav {
    margin-right: auto;
} */

.nav__list {
    gap: 30px;
}

.nav__link {
    font-weight: 700;
    color: var(--nav-color);
}

.icons {
    gap: 10px;
}

/* footer */

.footer {
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #EBBDA0;
}

.footer__content {
    justify-content: space-between;
}

.left {
    gap: 20px;
}

.service__title,
.info__title,
.company__title {
    margin-bottom: 10px;
}

.service__list,
.info__list,
.company__list {
    flex-direction: column;
    gap: 10px;
}

.right {
    gap: 90px;
}

.payments {
    text-align: center;
}

.payments__methods {
    max-width: 300px;
    display: grid;
    gap: 10px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 60px 60px;
    justify-content: center;
}

.social__list {
    flex-direction: column;
    gap: 15px;
}

#jp, #lj {
    margin-bottom: 100px;
}
